<h1 id="tableLabel">Employees</h1>

<a
  *ngIf="globalStateService.jwtToken.length"
  routerLink="/employees/new"
  class="btn btn-primary my-3"
  >New employee</a
>

<button
  *ngIf="globalStateService.jwtToken.length"
  class="btn btn-secondary ml-1 my-3"
  (click)="toggleDataFormat()"
>
  Switch format
</button>

<p *ngIf="!globalStateService.jwtToken.length">
  <em>Login to see the list</em>
</p>
<p *ngIf="globalStateService.jwtToken.length && !employees">
  <em>Loading...</em>
</p>

<pre *ngIf="employees && isTextFormat">{{ employeesText }}</pre>

<table
  class="table table-striped"
  aria-labelledby="tableLabel"
  *ngIf="employees && !isTextFormat"
>
  <thead>
    <tr>
      <th>Employee name</th>
      <th>Salary</th>
      <th>Department no</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>
        <a routerLink="/employees/{{ employee.employeeNo }}">{{
          employee.employeeName
        }}</a>
      </td>
      <td>
        <a routerLink="/employees/{{ employee.employeeNo }}">{{
          employee.salary
        }}</a>
      </td>
      <td>
        <a routerLink="/employees/{{ employee.employeeNo }}">{{
          employee.departmentNo
        }}</a>
      </td>
    </tr>
  </tbody>
</table>
