<h1>Hello</h1>
<p>This is a full-stack app built with ASP.NET Core, Angular and Bootstrap. Use quick links below, or navigation menu at the top to explore the app.</p>

<p class="mt-5 font-weight-bold">Lists:</p>
<a class="btn btn-primary mr-3" routerLink="/departments">Departments</a>
<a class="btn btn-primary" routerLink="/employees">Employees</a>

<p class="mt-5 font-weight-bold">Linq query examples:</p>
<ul>
  <li><a target="_blank" href="/api/query/q1">Average developer salary in any location excluding London</a></li>
  <li><a target="_blank" href="/api/query/q2">Number of employees per location</a></li>
  <li><a target="_blank" href="/api/query/q3">Number of developers per location</a></li>
  <li><a target="_blank" href="/api/query/q4">Second highest Salary</a></li>
</ul>
