<h1 id="tableLabel">New department</h1>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="department-name">Department name</label>
    <input
      id="department-name"
      name="department-name"
      type="text"
      class="form-control"
      placeholder="Department name"
      [(ngModel)]="departmentName"
    />
  </div>
  <div class="form-group">
    <label for="department-location">Department location</label>
    <input
      id="department-location"
      name="department-location"
      type="text"
      class="form-control"
      placeholder="Department location"
      [(ngModel)]="departmentLocation"
    />
  </div>
  <button type="submit" class="btn btn-primary mr-1">Submit</button>
  <button type="reset" class="btn btn-secondary">Reset</button>
</form>

<button class="btn btn-outline-secondary mt-3" (click)="goBack()">
  &lt; back
</button>
